body{
    background-color: #f5f5f5;
}
.container-xl{
    max-width: 1440px;
}
#minesweeper{
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 16px;
}
#header_container{
    background-color: #8fa3ad;
    margin-bottom: 15px;
    margin-top: 5px;
}

#header_container h1{
    text-align: center;
    margin-top: 15px;
    background-color: #bfd4df;
}
#header_container p{
    font-size: 110%;
}

#ms_face_dsc_box, #ms_start_dsc_box, #ms_pause_dsc_box{
    padding-top: 12px;
    margin-bottom: 5px;
    background-color: #90a4ae;
}
#ms_face_dsc_box h5, #ms_start_dsc_box h5, #ms_pause_dsc_box h5{
    text-align: center;
    background-color: #bfd4df;
}
#ms_face_dsc_box p, #ms_start_dsc_box p, #ms_pause_dsc_box p{
    font-size: 110%;
}

#ms_face_dsc{
    font-size: 2.6rem;
    background-color: #e0e0e0;
    border: 4px outset #efefef;
}
#start_dsc, #pause_dsc{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    background-color: #e0e0e0;
    border: 4px outset #efefef;
    padding-top: 3px;
}
/* MINESWEEPER TOP BAR */
#ms_mine_num_box, #ms_timer_box{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    background-color: #212121;
}

#ms_timer, #ms_mine_num{
    font-family: 'Major Mono Display', monospace;
    font-size: 150%;
    font-weight: bold;

    margin: 0 auto;
    color: #d50000;
}

#ms_face_box, #start_button_box, #pause_button_box{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    margin: 1px 0px;
}

#start_button, #pause_button, #ms_face{
    font-family: 'Share Tech Mono', monospace;
    font-size: 150%;
    font-weight: bold;
    background-color: #e0e0e0;
    margin: 1px auto;
    border: 4px outset #efefef;
}

#ms_grid_bar{
    background-color: #e0e0e0;
    border: 14px ridge #efefef;
    border-bottom: none;
}

/* MINESWEEPER GRID */

#ms_grid{
    display: flex;
    flex-flow: column;
    padding: 0.25rem;
    margin: 0 auto;
    background-color: #e0e0e0;
    border: 14px ridge #efefef;
}
.ms_grid_row{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.ms_grid_row .ms_grid_box{
    margin: 1px;
    border: 2px outset #8c8c8c;
}
.ms_grid_box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
}

.ms_grid_row .covered{
    background-color: #bcbcbc;
}
.box_attr_1{
    color: #66bb6a;
}
.box_attr_2{
    color: #ffee58;
}
.box_attr_3{
    color: #ffa726;
}
.box_attr_4{
    color: #ff7043;
}
.box_attr_5{
    color: #c63f17;
}
.box_attr_6, .box_attr_7, .box_attr_8{
    color: #b91400;
}
.box_attr_0, .box_attr_1, .box_attr_2, .box_attr_3, .box_attr_4, .box_attr_5, .box_attr_6, .box_attr_7, .box_attr_8{
    font-family: 'Share Tech Mono', monospace;
    font-size: 120%;
    margin: 0 auto;
    font-weight: bold;
}

.ms_grid_flag{
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
}

.mine{
    width: 100%;
}

.hidden{
    display: none;
    visibility: hidden;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}